[2016-10-14 15:06] 100781 opened #1 "Remove hardcoded chart dimensions"
The canvas object on line 43 of index.js contains hardcoded width and height values of 400px, overriding the ability to specify dimensions when creating a new ChartjsNode:

`<canvas id="myChart" width="400" height="400" style="width:400px;height:400px">`

Replacing the hardcoded values with `this.width` and `this.height` solves the problem.

[2016-10-15 00:17] sedouard commented on #1
Thanks for pointing that out! Closed via https://github.com/vmpowerio/chartjs-node/pull/2. Published v1.01

[2016-10-15 00:17] #1 closed

[2016-12-09 15:03] kdekooter opened #5 "ReferenceError: HTMLCanvasElement is not defined"
Trying to apply this library to code ported from the front end:

[code]

This results in `ReferenceError: HTMLCanvasElement is not defined`.

[2016-12-09 16:36] sedouard commented on #5
Thanks for reporting this @kdekooter. I'm seeing it in the CI runs too. Taking a look at it today.

[2016-12-09 18:30] sedouard commented on #5
Hey @kdekooter looks like you may be having the same issue I saw in our CI. We had a bad build of `canvas`. Can you check you have correctly installed Cairo on your system? (as referenced in the README of this repo).

[2016-12-10 12:42] kdekooter commented on #5
@sedouard yes Cairo was installed as per the instructions (OS X in my case)

[2016-12-11 01:02] sedouard commented on #5
Can you simply your repro, without using information from `data.json` or provide that file? I can't really reproduce your issue without that.

[2016-12-11 03:01] sedouard commented on #5
Hey @kdekooter just ran your sample code taking out `data.json` since I didn't have it. I don't think the issue depends on that anyways. The `HTMLCanvasElement` implies that the node bindings to Cairo are not working. I tested this on OSX 10.11.4 with node v5.12 (which is probably not the best version to use).

[code]

Here's the output chart:
![chart](https://cloud.githubusercontent.com/assets/30

[2016-12-11 11:09] kdekooter commented on #5
@sedouard yes, that is what is should look like. `npm install chartjs-node` works fine.

I reinstalled brew, the cairo stuff, canvas but still no change.

This is my environment: OS X 10.12.1, Node 7.1.0, Cairo 1.14.8.

Do you have any pointers as to how to debug my setup?

[2016-12-11 18:17] FilipeDominguesGit commented on #5
I had the same error. For me it was the `chart.js@2.4.0` that seems not to be supported. I just switched to the `chart.js@2.3.0` and its working fine now.

[2016-12-11 18:47] kdekooter commented on #5
@FilipeDominguesGit you saved my day! That solved it!

@sedouard is this a bug in `chart.js` or an incompatibility in `chartjs-node`?

[2016-12-11 20:36] sedouard commented on #5
Not sure whats different in chart.js@2.40 vs chart.js@2.30. To be honest that's just the version I tested against and set CI up for.

[2016-12-11 20:41] sedouard opened #7 "Support Chart.js@^2.4.0"
Seems like when this package is used we get the error message:

`ReferenceError: HTMLCanvasElement is not defined.`

Which possibly suggests that the node bindings for `canvas` are somehow to working.

[2016-12-11 20:53] sedouard commented on #5
Published an updated version `chartjs-node@1.1.1` with the updated peerDependency. Originally I had `chart.js` as a peerDependency because I wanted to give some flexibility on the version of chart.js you could use with this package :-/.

We'll see if we can figure out what's going on with the newer versions of chart.js.

[2016-12-11 20:53] #5 closed

[2016-12-12 09:40] kdekooter commented on #7
Would this help? https://github.com/chartjs/Chart.js/issues/3696#issuecomment-266360502

[2016-12-12 10:54] FilipeDominguesGit commented on #7
@kdekooter after reading that comment on chart.js early today i made this changes to jsdom Promise :
[code]

And its working fine now with chart.js@2.4.0  :smile: .

[2016-12-12 11:32] kdekooter commented on #7
@FilipeDominguesGit it was that simple huh ;-). Going to submit a PR shortly.

[2016-12-12 17:22] sedouard commented on #7
I love waking up to PRs :). Thanks @kdekooter!

[2016-12-13 11:09] sedouard commented on #7
Thanks guys, you rock! Published the a version chartjs-node@1.2.0 with these changes.

[2016-12-13 11:09] #7 closed

[2016-12-27 05:43] devmattrick opened #12 "Allow modification of global ChartJS variables"
Hi there!

ChartJS has a number of [global variables](http://www.chartjs.org/docs/#chart-configuration-global-configuration) which would be very useful to be able to set so one doesn't have to set it for every chart they have created. It'd be very useful to have an (optional) way of passing these variables down to ChartJS.

Thanks for your time.

[2016-12-27 13:28] FilipeDominguesGit commented on #12
Hello!

Maybe we could pass an options object on ChartjsNode constructor and assign it to the Chartjs.defaults.

ex:

[code]
And then just assign it to Chartjs.defaults like this:

[code]
Something like that? :smile:

[2016-12-27 15:36] sedouard commented on #12
This was one of the reasons I elected to make `Chart.js` a peerDependency. Since we are using the same module, if you do:

[code]

When `chartjs-node` requires Chart.js -- it should just pick up the changes, since the subsequent `require` on the module will just return same object. Does that not work out?

[2016-12-30 15:09] sedouard commented on #12
Gonna close this one out. @devmattrick go ahead and reopen if you think more needs to be done here.

[2016-12-31 01:56] devmattrick commented on #12
Sounds good. Wasn't aware that the subsequent require would return the same object. Obviously need to brush up a bit on my Node :P

[2017-01-10 09:13] andrewspy opened #14 "Unable to stream to concat-stream"
I intend to output the stream to string using `concat-stream` instead of writing to file system, but it doesn't seems to work. below is the sample code:-

[code]
I am new to javascript and stream, and hope someone can give me a pointer. Thanks!

[2017-01-10 16:16] sedouard commented on #14
Thanks for reporting this @andrewspy looks like we aren't closing the `ReadableStream` we're providing you. PR #15 will fix this. I'll have a new package out shortly.

[2017-01-10 16:26] sedouard commented on #14
Closed via #15. published `chartjs-node@1.4.0` with this fix. Cheers! 🍻

[2017-01-10 16:26] #14 closed

[2017-01-10 17:44] andrewspy commented on #14
@sedouard Confirming the issue is fixed.

Thanks!

[2017-01-11 04:52] nicholasalanbrown opened #16 "Cairo Errors when Trying to Run chartjs-node"
Hello:

On trying your sample after installing Cairo on Mac OSX, I get this error:

[code]

Any ideas?

[2017-01-11 05:00] nicholasalanbrown commented on #16
It seems to be related to this issue:
https://github.com/diagrams/diagrams-cairo/issues/43

[2017-01-12 00:03] sedouard commented on #16
Hey @nicholasalanbrown - not sure. How did you install cairo on osx? I used homebrew:

Here's the version I installed a while back:

[code]

[2017-01-16 09:52] sedouard commented on #16
hey @nicholasalanbrown gonna close this. feel free to reopen if you need more help.

[2017-01-16 09:52] #16 closed

[2017-02-11 21:30] jfeldstein opened #17 "Support Chart.js 2.5.0"
I am getting: `npm WARN chartjs-node@1.4.0 requires a peer of chart.js@<=2.4.* but none was installed.`

I have 2.5.0 installed.

Why is `<=2.4.*` required? Why not `^2.4.0` which would allow upgrading until `3.0.0` ?

[2017-02-11 21:46] sedouard commented on #17
Since I haven't tested the module on later versions of chart.js -- I don't
know if it will work. Especially after a major version change (apis can
change and so forth.) You're welcome to submit a PR if you've tested on 3.0
and can validate that.

Otherwise I'll look into doing that later next week.

El El sáb, feb. 11, 2017 a las 1:30 PM, Jordan Feldstein <
notifications@github.com> escribió:

[2017-02-15 15:57] leighquince commented on #12
for me this doesn't work out as when I require chart.js I get `ReferenceError: window is not defined`
at `chart.js/src/core/core.helpers.js:665`.

Seems like I need to require chart js within the jsdom env callback where window is available. Unless im doing something wrong?

Also thanks a lot for this as it's making server side rendering of charts soooo much easier.

[2017-02-15 16:58] sedouard commented on #12
Thanks for the feedback @leighquince glad to see it's helpful! 👍

Do you mind pasting a code snippet that reproduces the error you mentioned?

[2017-02-15 17:15] sedouard commented on #17
Closed via https://github.com/vmpowerio/chartjs-node/pull/18. You can get `chartjs-node@1.4.1` on npm.

[2017-02-15 17:15] #17 closed

[2017-02-15 17:22] leighquince commented on #12
it was just the inclussion of chart js that did it, version 2.5.0

`let Chartjs = require('chartjs')`

[2017-02-15 19:39] sedouard commented on #12
Ah - you're right. From my viewpoint this is an issue with this project since you can't load the chartjs module unless you pull in jsdom yourself -- which the point of this package is to avoid that.

I'll take a stab at a PR to take an options field which can set this as originally suggested by @FilipeDominguesGit

[2017-05-28 00:17] xunga opened #20 "Pie charts are broken? Cannot read property 'concat' of undefined"
Hi everybody 👋

I'm having an issue on trying to generate some pie/doughnut charts, am I doing something wrong here? The same data works on the live Demo and in my local with other kind of charts, except for the pies :(

This is the error that I get:
[code]

This is my sample code:
[code]

[2017-06-01 14:57] hparadiz opened #21 "writeImageToFile uses an unsafe writing method to confirm write complete"
Please review this:
http://www.daveeddy.com/2013/03/26/synchronous-file-io-in-nodejs/

In my use case I'm generating a chart as a png and then uploading to Slack.

Approximately 10% of the time the file hasn't actually finished writing to disk before `chartNode.writeImageToFile` has returned it's promise. This causes the file upload to fail.

The write to disk should be changed to `fs.open()` or `

[2017-06-05 21:48] hparadiz commented on #21
https://github.com/vmpowerio/chartjs-node/pull/22

Please try my fix

[2017-06-05 21:56] sedouard commented on #21
Hey there!

Thanks for the PR I'll give it a look over tonight (east coast us) and get
back to you. Thanks a bunch!! 🙌🏽

On Mon, Jun 5, 2017 at 5:48 PM Henry Paradiz <notifications@github.com>
wrote:

[2017-06-05 22:02] hparadiz commented on #21
No worries. Take your time. East coast here too.

travis-ci was complaining so I made a quick fix and made a new PR. Sorry for the clutter.

[2017-06-06 07:14] akhilrex commented on #20
Hi, I have a quick workaround to get past this issue. Just add the "xAxes" property as an empty array [] in the options -> scales setting and it will work.  I have updated your code.
[code]

[2017-06-06 07:53] xunga commented on #20
@akhilrex oh yeah, nice! Thanks :)

[2017-06-08 06:29] SeanSobey opened #24 "Support Chart.js 2.6.0"
I have been using 2.6.0 for a bit with no issues so far, so would be great to get a dependency update to support it :)

[2017-06-09 01:39] kevindieu100 opened #25 "Blurry Images"
![chart](https://user-images.githubusercontent.com/15068047/26957421-cd5f568c-4c79-11e7-96c1-e687f32e2c1b.png)

[2017-06-16 19:33] corsacca commented on #25
I have the same problem

[2017-06-19 16:36] KyeNormanGill opened #26 "CanvasGradient is not defined"
I'm using chartjs-node to create a chart and send it in a nodejs Discord bot.
[code]
message.client.pings is an array of 3 numbers. The graph works fine with 1 and 2 numbers but once it gets 3 it errors with `Unhandled rejection ReferenceError: CanvasGradient is not defined`

Here is the whole error
[code]

[2017-06-23 01:39] RisingStar1 opened #27 "When creating a line chart the background is always black"
This is the code that I write:
`var chartNode = new ChartjsNode(600, 600);
  return chartNode.drawChart({
    type: 'line',
    data: {
      labels: ["14:00", "14:10", "14:20", "14:30", "14:40", "14:50", "15:00", "15:10", "15:20"],
      datasets: [{
        label: '# of Viewers',
        data: [1000, 1150, 900, 700, 2000, 2200, 2200, 3000, 2500],
        backgroundColor: [
          'rgba(255, 1

[2017-06-28 06:43] satyakrishnagorti commented on #25
yeah, same problem. has something to do with canvas.toDataURL() autoscaling the image.

[2017-06-28 14:14] satyakrishnagorti commented on #27
Don't assign backgroundColor and borderColor as an array of rgba color strings. Assign it directly to a color string
example:
`
datasets: [
  {
     ...
     backgroundColor: "rgba(75, 192, 192, 1)",
     borderColor: "rgba(75, 192, 192, 1)"
     ...
  }
]
`

This should solve your issue.

[2017-06-28 19:48] larsbo opened #28 "canvas background color"
is it possible to change the gray background color to white to increase the contrast?

[2017-06-28 19:55] larsbo commented on #28
found a solution here:
https://github.com/chartjs/Chart.js/issues/2830#issuecomment-227867969

[2017-07-18 12:13] Assada opened #29 "ChartJs version"
```TypeError: Cannot read property 'plugins' of undefined```

chartjs-node: 1.4.1
chart.js: 2.4.0

[2017-07-20 07:18] varsha2409 opened #30 "Memory leak while generating a lot of server side graphs"
Hi,

I am generating a lot of images on server side. During the process, Node is consuming a lot of memory (~ 1.5 GB).
I am calling chartNode.destroy(), still memory is not getting released.

Does anyone knows, where else there could be a memory leak?

PFB my code:

		var ChartjsNode = require('chartjs-node');
		var chartNode = new ChartjsNode(335, 250);

		return chartNode.drawChart(chartJsOption

[2017-07-20 17:42] sedouard commented on #20
Closing this one out since the Exception is originating from chart.js due to the chart.js options.

[2017-07-20 17:42] #20 closed

[2017-07-20 17:53] sedouard commented on #24
Done!

[2017-07-20 17:53] #24 closed

[2017-07-20 17:53] sedouard commented on #25
I believe this is an issue with `canvas` not much we can do from here

[2017-07-20 17:53] #25 closed

[2017-07-20 18:18] sedouard commented on #30
Hey @varsha2409 I would check to see if something is holding on to the `chartNode` reference.

Often times when you see these kinds of issues it is due to a large object (like `chartNode` which contains a virtual DOM) that sits high in scope and never gets dereferenced for garbage collection.

[2017-07-21 10:40] SeanSobey commented on #24
Thanks!

[2017-07-21 17:10] #28 closed

[2017-07-21 17:11] sedouard commented on #29
Can you paste the code where you require the package? Also the stack trace would be handy

[2017-07-21 17:12] #27 closed

[2017-07-21 17:13] sedouard commented on #26
Have you tried the demo site? Does it produce a chart?

[2017-07-24 05:18] varsha2409 commented on #30
Hey @sedouard  did you find anything?
I analysed the heap dump, there are many ChartElement, Chart.Controller and other Chart related objects.
I even did a force GC after every chart is created, these elements were still present.

[2017-07-24 15:53] hparadiz commented on #21
Solved

[2017-07-24 15:53] #21 closed

[2017-07-26 15:31] SeanSobey opened #31 "Allow custom chart types"
From what I understand it is not possible to add [custom chart types](http://www.chartjs.org/docs/latest/developers/charts.html) to chartjs-node? At least not without running JSDom separately to import the ChartJS library.

Might I suggest something like this:
[code]
which can then be used like so:
[code]

Would a pull request for this be accepted possibly?

[2017-07-27 16:52] AharonDror opened #32 "Some valid configuration have no effect"
I can't seem to remove the zero-line / border line of the axis.
I've tried this with several options that I thought all should work for the xAxes -> gridLines:
`
	display: false,
	drawBorder: false,
	zeroLineWidth: 0,
        zeroLineColor: 'rgba(255, 255, 255, 0)'
`
I expected any of these configurations to give me the desired result, yet none work (together or separately).

[2017-07-27 16:56] AharonDror opened #33 "File save is not complete when the promise is resolved"
I'm using `chartNode.writeImageToFile`
When the promise is resolved the file **does** exist, but with size 0.
After less than 1 second the file is actually written (not sure exactly how long, but sleep for 1 sec works for me)

[2017-07-28 03:25] SeanLMcCullough commented on #26
+1
I get the same issue
On line 81 of chart.js/src/elements/element.point.js,
`(chartArea.right*errMargin < model.x)`
I get a trigger that this evaluates to true on some occasions (not all), in which line 93
`ctx.strokeStyle = color(ctx.strokeStyle).alpha(ratio).rgbString();`
Calls chart.js/src/core/core.helpers.js where
`if (value instanceof CanvasGradient) {`
is undefined.

I solved the problem

[2017-07-30 05:09] sedouard commented on #26
@SeanLMcCullough what OS is this on?

[2017-07-30 21:10] SeanLMcCullough commented on #26
@sedouard Windows 10

[2017-07-30 23:47] sedouard commented on #26
@SeanLMcCullough are you able to test the input on the [demo site](http://chartjs-demo.vmpower.io/) and see if it successfully generates a chart? That way we can tell if this is an OS specific issue. When I look up CanvasGradient stuff I'm seeing OS specific things within `node-canvas` on their repo.

[2017-07-31 00:59] SeanLMcCullough commented on #26
@sedouard Just ran the source on the demo site, it ran fine and did not trigger the CanvasGradient call. My error, and @KyeNormanGill's problem is probably limited to other chart types (such as line in both of our cases). It appears to be a problem when chartjs tries to render a point outside of the chart bounds.

ChartJS has an error factor of 1.01 because (I believe) some browsers round pixels a

[2017-08-03 02:41] sedouard commented on #33
Hey @AharonDror. This seems like an already fixed issue (see PR https://github.com/vmpowerio/chartjs-node/pull/23). Can you tell me which version of `chartjs-node` you installed?

[2017-08-03 08:41] AharonDror commented on #33
Using 1.4.1

[2017-08-03 11:21] AharonDror commented on #33
Just saw that this is fixed in latest master, but not in a release version.
Thanks for an awesome module, you can close this issue.

[2017-08-03 11:22] #33 closed

[2017-08-04 01:31] sedouard commented on #32
Can you confirm this behavior does not reproduce in the browser?

[2017-08-04 01:31] #29 closed

[2017-08-04 01:32] sedouard commented on #26
I agree. The fact that the demo site had no problem tells me it is an OS specific issue. (The demo site is running Ubuntu). Going to close this out.

[2017-08-04 01:32] #26 closed

[2017-08-10 02:22] sedouard commented on #32
@AharonDror closing this out. Feel free to re-open once you have confirmed that this isn't the behavior in the browser

[2017-08-10 02:22] #32 closed

[2017-08-10 02:24] sedouard commented on #31
@SeanSobey yes absolutely 🎉. However because we don't use this functionality - we would need a test which verifies we can make custom chart types.

[2017-08-10 02:26] sedouard commented on #30
@varsha2409 are you able to copy/paste the full context you're running this library in? I'm interested in seeing how it is repeatedly called. I suspect you are holding on to a references and thats why you're experiencing a leak.

[2017-08-10 08:25] SeanSobey commented on #31
Great, I have created a pull request.

[2017-08-11 13:34] #31 closed

[2017-08-14 14:28] SeanSobey commented on #12
I also require access to the global chart instance, I need to change the defaults for the built in scales, however these default are not on the global object but need to be changed by calling `Chart.scaleService.updateScaleDefaults()`.

There are also a few other Chart properties that may be useful in future, such as `Chart.layoutService`, `Chart.helpers`, etc. Maybe providing a callback with acce

[2017-08-14 14:53] sedouard commented on #12
Yeah seems like a good idea so that this library doesn't have to chase around Chart.js features. I'm not a fan of callbacks in constructors.  Instead how about emitting an event.

[code]

We can make `ChartjsNode` an `EventEmitter`. In the future if anything else (synchronous) needs to be done within the jsdom environment, we can add event hooks.

I think my only concern is that would someone ever

[2017-08-15 09:41] SeanSobey commented on #12
Yes the event route seems a better approach. I can't think of anything someone would need to do asynchronously, at least with the ChartJS global so I think the event implementation will be pretty robust that way.

I have implemented this in my [fork](https://github.com/SeanSobey/chartjs-node#global-chart-reference), along with tests and docs. I will implement and test the usage in my application,

[2017-08-30 09:52] Mohamed3on opened #35 "Pie chart looks weird"
![testimage](https://user-images.githubusercontent.com/12295159/29866649-4c475a86-8d79-11e7-9957-4b58f167dd09.png)
This is what I get when trying to get a pie chart.
The code:
[code]

[2017-08-30 15:00] sedouard commented on #35
Hi there!

Can you confirm you get this in the browser using regular chart.js?

Can you also try the test website with your chart data? What OS are you
using?

El El mié, 30 de agosto de 2017 a la(s) 02:52, Mohamed Oun <
notifications@github.com> escribió:

--
Steven Edouard
Computer Engineering, Undergraduate
Email: sedouard@ufl.edu
Mobile: 4079638488

[2017-08-30 17:59] Mohamed3on commented on #35
@sedouard Hi, it works correctly on the browser version. I'm on Windows 10.

[2017-08-30 18:14] sedouard commented on #35
Can you try the test website linked on this repos homepage? It runs Linux
and can help show if this is a problem with the OS integration.

El El mié, 30 de agosto de 2017 a la(s) 10:59, Mohamed Oun <
notifications@github.com> escribió:

[2017-09-02 21:48] adman020 opened #36 "Cannot read property 'toBlob' of undefined"
Hi,

Code works for one chart but when I create more then I get this error. I am new to Node and thought that that it was missing the data?

[2017-09-12 14:17] BlackJohnny commented on #26
I have the same issue on Ubuntu.

[2017-09-20 15:31] SeanSobey commented on #12
FYI, my [pull request](https://github.com/vmpowerio/chartjs-node/pull/37) for this feature has been merged. Documentation for how to use has been added to the Readme as well.

[2017-09-20 17:12] #12 closed

[2017-09-26 06:01] parthjaggi commented on #20
I don't know where Exception is arising from. But its just badly written cases.

`if (configuration.options.plugins) {
                    Chartjs.pluginService.register(configuration.options.plugins);
                }`

Could be easily written as:
`if (configuration.options && configuration.options.plugins) {
                    Chartjs.pluginService.register(configuration.options.plugins);

[2017-10-19 06:51] offnertho opened #38 "Change the background color of generated image"
Hi,

I want to change the background color of the generated chart image.

With code like this:
[code]

However, I did not manage to access the `ctx`, from the provided ChartJs.

Can it be accessed? Or is there any other way to change the background color?

Regards,
Thomas

[2017-10-19 11:46] pmav commented on #35
Hi,
I'm having the same issue (also using Windows 10).
Is this the test website, http://chartjs-demo.vmpower.io? It returns 502.

[2017-10-19 11:50] pmav commented on #38
Hi,
I'm using the following code to set the background color:
[code]

[2017-10-27 13:48] handfix commented on #35
Same problem here with pie chart (os: win10).
I did not test a linux integration yet.

[2017-10-27 21:26] sedouard commented on #35
This is likely due to some integration issue with Cairo on Windows. I don't have one handy so I can't really diagnose. Tagging this issue with Help Wanted and Windows. Maybe someone can help!

[2017-10-27 21:28] sedouard commented on #35
@pmav Sorry! Test website is back up!

[2017-11-13 00:04] SeanLMcCullough commented on #35
Can confirm, Windows 10 results in the same issue. My chart config works on the test website.

[2017-11-13 06:08] SeanLMcCullough commented on #35
I've found a temporary workaround.

It seems the problem has to do with the math relating to chart.js finding the inner circumference of the pi chart arcs. You can see in the example at the start of this thread that it's giving up on rendering the arc origin.

What you can do, is set a really tiny number for the cutout percentage to trick the math into doing something.
Tested under Windows 10 and

[2017-11-16 12:33] BrunoLerner opened #40 "Add tooltips on the generated PNG"
Hey,

I'm trying to generate the PNG with the tooltips on it. I tried a couple of different things.

First, I've tried adding an addHitRegion() canvas' method on the afterDraw plugin. But it looks like this function is not supported.

And then I tried to find any configuration of the tooltip that makes that for me. But I didn't find one

[2017-11-28 12:57] webworker01 opened #41 "How do you add extensions? e.g chartjs/chartjs-chart-financial"
I have the basic built in charts working and generating images, but my ultimate goal is to generate candlestick charts server-side. I found https://github.com/chartjs/chartjs-chart-financial/ is an extension for chart.js, but having trouble implementing this following the current examples (plugins?). Can anyone please help?

[2017-12-16 23:50] pedall opened #42 "error when using node-canvas alpha.8"
my package.json versions

"canvas": "2.0.0-alpha.8"
"chart.js": "^2.7.1",
 "chartjs-node": "^1.6.0",

---

When using `"canvas": "^2.0.0-alpha.2",` node-chartjs works like a charm, when using `"canvas": "^2.0.0-alpha.8",` item is null in acquireContext so item.length errors.

[code]

Can someone please help me and tell me what im doing wrong?

[2017-12-29 01:19] lingz commented on #26
Fixed on my side just by declaring after my import:

[code]

Will make it pass the `instanceof` check.

[2018-01-03 00:46] nollybear commented on #42
I was getting the same exact error. It seemed that Canvas was returning null for getContext. I tried looking into the canvas module but kept getting this error: "Too many levels of symbolic links" so I just removed the folder and reinstalled it with npm and that did the trick.

[2018-01-08 14:47] moberemk commented on #30
@varsha2409 I've got a PR open, #43, that may address your issues--any chance you could give my fork a go to see if it helps you at all?

[2018-01-10 13:28] rishicodes commented on #26
Thanks @lingz. The global declaration solved the issue!

[2018-01-10 17:43] #30 closed

[2018-01-14 21:42] avoloshko opened #44 "Concurrent requests cause cause empty output"
Using the code from the README.md.
![13_testimage](https://user-images.githubusercontent.com/3527674/34921003-bbc7f760-f973-11e7-998e-bdde950354c8.png)
![14_testimage](https://user-images.githubusercontent.com/3527674/34921004-bbeafdf0-f973-11e7-9bb0-dd19453a9858.png)

[2018-01-14 22:30] avoloshko commented on #44
I feel like there's an in-memory buffer and a race is going on.

[2018-01-15 02:08] #44 closed

[2018-01-15 02:08] avoloshko commented on #44
app side problem

[2018-01-16 11:41] piercus opened #45 "Switch to canvas-prebuilt ?"
Hello,

This is more an idea than an issue.

I would like to suggest using [canvas-prebuilt](https://www.npmjs.com/package/canvas-prebuilt) rather than canvas as a dependency.

This will make this library more 'portable' and speed up the installation.

What do you think ?

[2018-01-22 13:36] SeanSobey opened #46 "Bump chart.js dependency to 2.7.*"
We have been running on the latest chartjs version now for a while with no issues, seems fine to increase version to 2.7.*.

[2018-02-14 08:46] AndreasGassmann commented on #41
Have you made any progress here @webworker01? I'm also interested in using the financial chart plugin server-side.

[2018-02-22 06:57] webworker01 commented on #41
I had to create my own version that you can in my repos. It's not the "right" way but it works for now.

[2018-02-24 20:06] fgeorges opened #48 "Live demo down"
The URL for the "live demo" returns `502 Bad Gateway`.

[2018-03-05 17:01] rebsgroup commented on #46
Just added #49

[2018-03-06 08:02] SeanSobey commented on #41
A feature to [register custom charts](https://github.com/vmpowerio/chartjs-node#adding-custom-charts) was added, but is now outdated since there is an event for the [global chart reference](https://github.com/vmpowerio/chartjs-node#global-chart-reference):

[code]

[2018-03-12 09:35] johannlaqua commented on #42
same problem for me :
"canvas": "2.0.0-alpha.11",
"chart.js": "^2.7.2",
"chartjs-node": "^1.6.1",

error :
[code]

Mac OS X 10.13.3, node v8.9.3

[2018-03-12 10:06] nguyenhoangvi000 opened #50 "increase the radar chart Point label"
I was create a radar chart but I can't use the config:
pointLabels: {
   pointLabelFontSize: 12
 }
Anyone has facing with this problem and could you give me some example about that.
Thanks in advance

[2018-03-13 17:01] mjlocke0529 commented on #42
Same problem for me tried 2.0.0-alpha.8?
Any solutions or fixes to this would be great.

[2018-03-20 23:29] sonlexqt commented on #48
It's still an issue now

[2018-03-21 18:47] tatsujb commented on #48
please fix

[2018-03-22 10:31] Prior99 opened #51 "TypeError: Cannot read property 'plugins' of undefined"
I am getting the following error when using this library:
[code]

My code looks like this:
[code]

Versions used:
[code]

[2018-03-22 10:36] Prior99 commented on #51
Nevermind, it needs to be `chartNode.drawChart({ options })`. Sorry for causing disturbances.

[2018-03-22 10:36] #51 closed

[2018-04-02 20:31] sedouard commented on #48
Fixed!

[2018-04-02 20:31] #48 closed

[2018-04-05 11:46] shrutimansinghka opened #52 "How do I make sure that the generated images have the animation included in the chart options?"

[2018-04-19 18:46] joaobarcia opened #53 "Not being able to generate jpeg files"
Hi,

Thanks for the great lib. I'm able to generate png's without any issue but I need to generate jpegs. My code is:
[code]

If I change `return chartNode.getImageStream("image/png");` to `return chartNode.getImageStream("image/jpeg");`

I get the following error:
[code]

Any tips on what I might be doing wrong?

Thanks

[2018-04-27 01:16] coolioxlr commented on #51
I am still having the same issue after adding chartNode.drawChart({ options })

[2018-04-27 21:56] sedouard commented on #53
I don't think jpeg images are really supported. I wrote this a while back but the fact that the test suite doesn't try `image/jpeg` tells me that it probably never really worked. Also windows, Cairo/Canvas has always had some weirdness.

[2018-05-05 14:39] eko24ive opened #55 "How to ensure destruction of chart?"
Is there any way I can check that chart was successfully destroyed via `chartNode.destroy()` ?

[2018-05-11 21:35] vibhuyadav commented on #41
Is this a solution for all plugins?

[2018-05-12 14:07] SeanSobeySage commented on #41
Yes, the `Chartjs` instance passed to `chartNode.on('beforeDraw')` is the 'global' [ChartJS](http://www.chartjs.org/docs/latest/developers/plugins.html#global-plugins) reference for the charts to be rendered.

[2018-05-15 17:55] sedouard commented on #41
Gonna close this out.

[2018-05-17 22:29] peterecofit opened #56 "Point to font files directly"
Hi all,

Not an issue but a feature request.  We're using chartjs-node and it's awesome, however we're using it on AWS Lambda and we are not able to install system fonts.  the only way we can add fonts is by targeting the font file directly.  Is this something that could be implemented to enable custom fonts when using serverless Lambda?

Thanks!

[2018-05-18 18:35] sedouard commented on #56
Hey @peterecofit thanks for the kind words! What kind of interface are you thinking of here? I'd love to know more how you're getting it working today

[2018-05-18 18:37] sedouard commented on #55
Hey @eko24ive if you take a look at the `destroy` test you can see how you can validate that:

https://github.com/vmpowerio/chartjs-node/blob/master/test/index.js#L14

[2018-05-18 18:37] #55 closed, assigned to nobody

[2018-05-18 18:38] #46 closed

[2018-05-18 18:38] #38 closed

[2018-05-22 10:43] eko24ive commented on #55
Neat, thank you!

[2018-05-28 16:11] peterecofit commented on #56
Hi sedouard, thanks for the response and appologies on getting back so late.  We are using chartjs-node in a production environment for our fitness asset management platform (www.ecofitnetworks.com).  We are making informative reports for executive fitness club owners, you might recognize 24 Hour Fitness and Gold's Gym, these are some of our biggest customers and they love our reports and love our

[2018-06-01 21:17] tscritch commented on #30
Hey guys,

I'm still having trouble with this. Calling destroy is not removing the instance of the chartNode.

I am using `v1.7.1`

Any insight?

[code]

[2018-06-05 12:47] jacktuck commented on #30
@tscritch I think u want to be destroying the chart instance in ur finally block? `chartNode.destroy` ?

[2018-06-13 10:22] eko24ive opened #57 "502 Bad Gateway on the demo website"
![image](https://user-images.githubusercontent.com/25591824/41345592-d22136b6-6f0c-11e8-8cb7-f27d791ac20f.png)

[2018-06-18 14:40] lonelywolf4git commented on #26
@lingz I encounter this issue,but the issue is just random , so can you tell me where the code "if (global.CanvasGradient === undefined) {
  global.CanvasGradient = function() {};
}"  should be ? Just place it after "require('chartjs-node')“？ thanks for explanation!

[2018-06-26 13:28] ArthurMalet opened #58 "Any compatibility with time scale?"
Hi everyone,
I'm trying to use chartjs-node to create time scale charts.
I can't get to have charts when I try to use the time scale, I got

`ReferenceError: CanvasGradient is not defined.`

Do you know if there is any possibilities for this..?
As far as I know, it's impossible to create a chart without the 'labels' option, and it has to have the same number of arguments than the 'data' option hav

[2018-06-29 08:32] FIDIMALALA commented on #26
@lonelywolf4git it's OK for me just after the require declaration.

[2018-07-02 10:04] janmchan commented on #26
If anyone still getting this I found a specific problem causing it. I had y axes values greater than options.scales.yAxes.ticks.max. I think it's trying to render outside of that range that's why it's getting the exception. Although the work arounds above does seem to work. It just hides those out of range values.

[2018-07-04 11:53] asadabbas88 opened #59 "Unhandled rejection Error: Cannot find module '../build/Release/canvas.node'"
Did any one get this issue ? .. I am getting this issue on my local when using chartjs-node api .. let me know if there's any solution .. thanks

[2018-07-05 06:55] #59 closed, assigned to nobody

[2018-07-07 00:43] voidpls commented on #48
Down again.

[2018-07-17 18:34] williamdes commented on #57
No 502 error, but an error:
[code]

[2018-07-20 11:44] eko24ive commented on #57
You're correct, although as you can see at the time this issue was created mentioned error wasn't shown.

[2018-07-20 14:47] williamdes commented on #57
@eko24ive Yes :)

[2018-07-20 20:11] kuomingwu opened #60 "[Solved] get garbled text after render chartjs unexpectedly"
Hi everyone,

I run the sample and output image successful, but all text become garbled text in the image :

![testimage](https://user-images.githubusercontent.com/6070952/43022828-29c4556e-8c9b-11e8-81c8-3b329ef325cf.png)

Did I miss something ?

[Environment]
OS : centos 7,5
Nodejs : v8.11.3
npm : 5.6.0

Thanks.

[2018-07-21 05:51] kuomingwu commented on #60
I had install font and set the parameter as below, it seems work now !

`chartNode.on('beforeDraw', function (Chartjs) {
		//Chartjs.defaults
		//Chartjs.pluginService
		//Chartjs.scaleService
		//Chartjs.layoutService
		//Chartjs.helpers
		//Chartjs.controllers
		//etc
		Chartjs.defaults.global.defaultFontFamily = "cjkuni-ukai-fonts";
		Chartjs.defaults.global.defaultFontSize = 18;
		Chartjs.defa

[2018-07-24 02:34] SeanLMcCullough commented on #52
Animations are overwritten and disabled before the config is handed to chartjs. Consider using a plugin for what you are trying to achieve. Details for doing this are in the readme of this repo.

[2018-08-06 15:22] katsube opened #61 "How to set font file (foo.ttf)"
Hi, everyone.
Thank you for the wonderful library.

If Japanese language is set as the label, it will not be output to the graph image.
[code]
Is there a way to set a font file(foo.ttf) or solve this?

environment
* macOS 10.13.6
* Node.js v10.1.0
* chart.js 2.7.2
* chartjs-node 1.7.1
* cairo stable 1.14.12

Thanks.

[2018-08-06 15:27] katsube commented on #61
Sorry, I forgot to upload the result.

[code]
![testimage](https://user-images.githubusercontent.com/1707516/43725815-829e6c16-99d8-11e8-86c1-15713ce2e86d.png)

[2018-08-07 23:47] ryancottone opened #62 "Unable to load chartjs-financial file at all"
Hey. I've been toying with this all day to no avail so far. I've been using chartjs-node with no issues but I can't even load chartjs-chart-financial.

I've built the library and even used their pre-provided one, but whenever I require() the file, it throws errors such as:

Window is not defined
Chart.Ticks is undefined
These errors are on the loading of this file, not even the execution of the fu

[2018-08-14 05:49] Vishallimgire commented on #42
which platform Windows or Linux

[2018-08-14 05:59] Vishallimgire commented on #42
I have also got the error in windows platform but when I used Ubuntu it works fine. I got an error in windows after installation of canvas 2.0.0-alpha.13

[code]

[2018-08-14 13:04] olliejm commented on #45
What is required for canvas-prebuilt support? I cloned repo and changed `canvas` to `canvas-prebuilt` in `package.json`, then altered `require('canvas')` in `index.js` to `require('canvas-prebuilt')` ... problem is however that then when I run a test script (which worked fine when using regular canvas), I get the following error:

[code]

Is it possible to add this support manually on my side at a

[2018-09-09 17:10] joemccann commented on #26
@lingz solution works, but feels hacky.  Is there a cleaner solution in the source code itself?

[2018-09-09 17:11] joemccann commented on #26
Not complaining, just seems like something that could be resolved in the source!

[2018-10-11 13:53] LudmilaShilo opened #63 "Problem with font at Centos7"
Hi, all!
Thank you for the very useful module:)
Pls, help with the following problem.
I use chartjs-node in my project. It perfectly works on my computer.
<img width="1200" alt="screen shot 2018-10-11 at 4 50 42 pm" src="https://user-images.githubusercontent.com/44061668/46808819-da2c3c80-cd75-11e8-9746-330e8dbdcc72.png">
But it doesn't work correctly at a server.
<img width="1200" alt="screen sho

[2018-10-16 21:02] el opened #64 "Fix for black background on jpeg output"
Hi, I tried to export the image as jpeg but because of the way canvas handles transparency, the background becomes black:

![testimage](https://user-images.githubusercontent.com/1488164/47047186-94b9a600-d19f-11e8-9292-35cd66bb959a.jpeg)

The fix is adding a white rectangle to the background, like this:

[code]

![testimage-w](https://user-images.githubusercontent.com/1488164/47047285-d5192400-d19

[2018-10-20 15:50] dlefcoe opened #65 "TypeError: chartNode.drawChart is not a function"
copy and paste the code into editor.

get the error message:

`TypeError: chartNode.drawChart is not a function`

what is causing this ?

[2018-10-25 06:53] bala223344 commented on #42
still not resolved :(

I am getting the same in osx 10.12.6

[2018-10-31 14:51] grahamwells commented on #63
The font required is not installed on the CentOS server, but is on your computer
You can use the command fc-list to list installed fonts in CentOS,

You can then install new ones e.g. yum install open-sans-fonts
and select the font in the 'beforeDraw' function

[2018-11-02 07:03] isegon opened #66 "After setting devicePixelRatio, the chart shows misplacement"
Hi, All:
I use chartjs-node in my project. I think the chart is blurry, so I set the devicePixelRatio to 2, and the chart is clearer, but there are some places that show misplacement, please see the image below:
![2018-11-02_063438](https://user-images.githubusercontent.com/13446835/47897983-c1daa980-de6b-11e8-9bb6-8f0b7188094c.jpg)

![2018-11-02_063406](https://user-images.githubusercontent.com/1

[2018-11-05 11:16] miguelwycho opened #67 "Stacked bar with multiples bars widths"
I needed to create a stacked bar chart with multiple bars widths so i came with this solution:

chartJsOptions = {
        type: 'bar',

        data: {
            labels: [],
            datasets: [
                {
                    label: "Ofertado",
                    data: [],
                    borderColor: 'rgb(83,141,213)',
                    borderWidth: 3,
                    xAxi

[2018-11-06 16:19] ghost commented on #42
I am suffering the same issue.

Is this repo alive or was it abandoned? I see there was a time since last commit

[2018-11-13 00:40] thofnar commented on #42
Also getting this same issue on Windows with any version of chartjs-node other than alpha2. Is there any fix for this?

[2018-11-13 01:09] thofnar opened #68 "Can you use a version of canvas greater than alpha2?"
Hi,

I have been working with chartjs-node for a few days now and locally it is working great but I have a problem when deploying to Heroku. It seems for Heroku I cannot deploy the alpha2 version of canvas.

I am a bit stuck what I can do to have this working with the latest version of canvas...when I try the latest version of canvas, I get the error `Cannot read property 'length' of null` which I

[2018-11-13 02:18] gndelia commented on #42
@tudorific the only way I was able to fix it was to downgrade canvas to a 1.6.x version. It is not working with canvas 2.x versions

(gdeliaesgine is my account at work but I answered you from home, using another user hehe)

[2018-11-15 04:32] thofnar commented on #42
@gonnza thanks! I ended up downgrading to canvas 1.6.13 and that is working just fine. Thanks for the input, that definitely helped me out! :)

[2018-11-15 04:33] thofnar commented on #68
I ended up downgrading to canvas 1.6.13 and that is working just fine with Heroku. Not ideal to be using an older version but its the only way I have been able to get this working.

[2018-11-18 14:11] BenediktMiller commented on #36
Hey,
did you happen to find a solution for this problem?

[2018-11-26 07:13] asr21 opened #69 "create more than one image in the same ChartJSnode"
create more than one image in the same ChartJSnode

[2018-12-07 12:58] ColeT3tr3x opened #70 "Window is undefined?"
Hello! So, I have tried to use ChartJS on it's on package with no luck so I tried the this package but seem to be running into an error.

Here is my code:

``
  const canvas = Canvas.createCanvas(800, 450);
  const ctx = canvas.getContext('2d');

    var myChart = new Chart(ctx,{
      type: 'bar',
      data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datase

[2019-01-04 11:05] solomania9 commented on #64
Thanks for this! Saved me some headache.

[2019-01-11 21:30] benmccann opened #71 "chartjs-demo.vmpower.io is down"
http://chartjs-demo.vmpower.io/ return 502 Bad Gateway

[2019-01-25 00:47] jwerre commented on #16
This will prevent this package from working on AWS Lambda.

[2019-02-09 21:16] IbrH opened #72 "It's not possible to hide the initial tooltip on bar charts."
I tried every possible options that is supposed to hide the initial tooltip before the image is created, but none work. My example code:
[code]
![grafik](https://user-images.githubusercontent.com/26464584/52526405-5dc05080-2cb8-11e9-9b23-0d82a25d91a1.png)

[2019-02-09 22:17] IbrH commented on #72
I realized it's not a tooltip but just a box and label.

[2019-02-20 20:16] furstenheim opened #73 "Compilation errors on install"
I'm getting a lot of compilation errors on:

`yarn add chartjs-node`

Like
`   NAN_DEPRECATED inline v8::Local<v8::Value> MakeCallback(
`

I'm using node v9. Installation fails

[2019-02-22 16:34] trysheepy commented on #42
bump, also having this problem with canvas 2.x, but resolves with older versions. Any updates on why this is happening with recent versions?

The error is: "Unhandled rejection TypeError: Cannot read property 'length' of null".

Any better solutions than just downgrading the canvas version?

[2019-03-15 15:50] olliejm commented on #38
I have a server running chartjs-node that returns charts. I'm using the code above to set the background colour, but after it has been set once in the server's lifetime, the colour remains. I have a controller where basically the following happens:

[code]

Where `params.backgroundColor` is an RGBA string from request, and `transparent` is an RGBA string for white with full transparency.

After se

[2019-07-18 17:03] talaikis opened #74 "Unhandled rejection Error: Cannot find module 'chart.js'"
[code]

Node 10.16, Windows 10

[2019-07-24 19:52] sam13591980 opened #75 "Cannot read property 'length' of null"
Hello,
I just simply installed this (also installed canvas as npm install canvas and chart.js as npm install chart.js) and used the following code. and I got the below error.

[code]

[2019-07-31 11:38] CoalSephos commented on #75
having the same issue

[2019-08-09 14:56] chronosis commented on #75
JSDom is a secondary dependency of this project and the version included has a bug. You can fix this by installing JSDom directly.
[code]

[2019-08-14 11:34] gjovanov commented on #75
This issue seems to be related to #42 ... It seems that **canvas** version 2+ doesn't work on Win. If you downgrade **canvas** to 1.6.13, it works for us.

[2019-08-18 19:01] jeffreycxu commented on #36
I had that error and I was able to fix it by changing up the order of my code!

`
for(var client in info){
        for(var metric in info[client]){
            createChart(info[client][metric], client,metric)
        }
    }
`
createChart creates the chart and downloads it just like how the readme file shows you how to do it!

[2019-08-28 15:24] davidgatti opened #76 "./util/has_lib.sh: line 31: pkg-config: command not found"
Hy, when I try to install the module under MacOS (latest version), I get the following error message.

[code]

And I do have Cairo installed under MacOS

[2019-08-29 01:13] luke-robertson opened #77 "TypeError: Cannot read property 'plugins' of undefined"
[code]

`/node_modules/chartjs-node/index.js` line 88

Got around this by adding `options: { plugins: {} }` but this should really handle itself, i can submit a PR if required

[2019-09-17 06:32] sudhir1211 commented on #40
@BrunoLerner  Have u got  any solution for tooltip were am facing same issue

[2019-09-17 06:34] sudhir1211 opened #78 "Tooltip"
Hai,
     Is there any possibility of having tooltip feature as like chart.js have when we render in client end

[2019-10-25 17:29] connorgillis commented on #76
Any luck?

[2020-01-09 04:23] MastaAaron commented on #74
@talaikis You probably already figured this out long ago, but just in case for anyone who may be reading...

This is because `chart.js` (required peer dependency) isn't installed. It's really easy to miss in the *Getting Started* instructions, but it's there. Got me too. 😅

[code]
[code]

[2020-01-10 11:02] mkoeller opened #79 "Unable to change the grey font color to black"
I am trying to change the legend font color to black, but it always has a grey font. None of the configuration options is working. Is there any workaround? Thanks in advance

![47047285-d5192400-d19f-11e8-934c-4905a1481080](https://user-images.githubusercontent.com/315471/72148379-ef40b280-33a0-11ea-8695-18ba36c83662.jpg)

[2020-01-31 13:19] almeidx opened #80 "Trouble with installation"
Having issues while installing the package.

<details><summary>Console Output</summary>

</details>

<details><summary>Debug Log</summary>

</details>

EDIT: Probably fixable using https://github.com/vmpowerio/chartjs-node/pull/39

[2020-02-04 02:52] mgaylord-branch commented on #74
@MastaAaron This has been added as a dependency and still getting the error:

[code]

package.json looks like this:

[code]

Any other ideas?

[2020-02-04 11:42] mehemmelbachir commented on #80
When trying `npm i chartjs-node` I got the following log:
[code]

Node version:  `v10.16.0`

[2020-02-08 14:14] almeidx commented on #80
@mehemmelbachir Have you followed the pre-installation steps in https://github.com/Automattic/node-canvas#installation?

[2020-02-10 10:28] mehemmelbachir commented on #80
@Almeeida , Thank you for the hint,
I did this already and now it worked.
It wasn't so clear in the installation instructions.

[2020-02-23 11:18] shirshak55 commented on #80
actually it doesn't work with node v13+

[2020-02-24 12:14] almeidx commented on #80
@shirshak55 I'm using v12.14.1

[2020-02-24 12:20] shirshak55 commented on #80
this package is not updated for 3 years so i don't recommend using it :)

[2020-02-24 22:43] almeidx commented on #80
@shirshak55 yep, I moved to https://github.com/jacktuck/node-chartjs

[2020-02-25 04:55] shirshak55 commented on #80
that one is also not maintained for 2 years :(

[2020-02-25 06:04] shirshak55 commented on #80
i actually used d3 and I am very happy with it :D gives clear svg and conversion is flawless.

[2020-03-22 16:29] digifoxman commented on #76
Yes, did someone find a solution for this?

[2020-04-23 15:15] oqtavelabs commented on #80
try [oqtave charts](https://www.npmjs.com/package/@oqtavelabs/charts).

[2020-04-23 15:18] oqtavelabs commented on #80
try [oqtave charts](https://www.npmjs.com/package/@oqtavelabs/charts). it gets the job done.

[2020-05-19 17:37] Robin-Sch opened #81 "Can't install because node-gyp"
https://pastebin.com/9k8kLQjf
Thats my error

[2020-05-19 18:25] Robin-Sch commented on #81
Creating a binding.gyp file:
[code]
Gives:
https://pastebin.com/UBbi0vvw

[2020-06-19 16:43] GaryTowers opened #82 "Any plans to maintain this library?"
It has been almost 2 years without updates. Currently there are a lot of installation problems and unclear documentation for troubleshooting.

Are there plans to maintain it again? are there other libraries that are similar that you would recommend instead?

Thanks

[2020-06-19 22:18] doleron commented on #64
Thank you @el I can't understand why chartjs doesn't have a native `background` property for this purpose.

[2020-07-02 17:10] GaryTowers commented on #82
I guess not.

I've successfully switched to use
https://github.com/SeanSobey/ChartjsNodeCanvas

A very similar implementation that is up-to-date and works

[2020-07-14 19:01] ourarash opened #83 "Gradient fill color"
How can you have a gradient fill color like this:

http://jsfiddle.net/4vobe59a/

[2020-09-15 06:30] AmiXDev commented on #48
the demo version is down 💤

[2020-10-09 06:30] sonisaurabh19 commented on #82
@GaryTowers hi, do you have a sample Dockerfile and chart file that you could share?

[2020-11-22 20:40] Slurpgoose commented on #82
@GaryTowers thanks for your advice. [chartjs-node-canvas](https://github.com/SeanSobey/ChartjsNodeCanvas) works. install on this library does not. I spent hours retrying install instructions for cairo & canvas but node-gyp fails to build for `chartjs-node`.

[2020-11-24 01:00] GaryTowers commented on #82
Hi @sonisaurabh19 unfortunately I don't have a sample Dockerfile for [chartjs-node-canvas](https://github.com/SeanSobey/ChartjsNodeCanvas) however I followed the instructions on their readme file and I was able to install and implement the features I needed easily. I like your idea of having a starter dockerfile for that, it would be nice to include that as a ticket on the [chartjs-node-canvas](ht

[2020-11-24 02:04] GaryTowers commented on #82
I created Pull Request #84 to reflect the unmaintained status of the project to be more mindful of future devs trying to install the library and save them from some frustration. Hopefully this will get approved soon.

[2021-01-19 00:20] uzkha commented on #64
Thanks! This is very useful!

[2021-03-12 14:27] HeCorr opened #85 "Unable to install (node-gyp errors)"
I tried absolutely everything you can think of, but I cannot get this lib to install for the life of me..

[code]

<details>
<summary>Full log</summary>

[code]

</details>

I notice it says `node-gyp -v v5.1.0` even though I ran `npm i -g node-gyp` and running `node-gyp -v` on the terminal shows `v7.1.2`....

I'm running Debian Buster (10) in a [virtualized VSCode environment](https://marketplace

[2021-03-12 14:32] HeCorr commented on #85
The log above was with `chart.js ^2.7.0`, since with the latest one I noticed the following warning:

[code]

But as you can tell, that did not fix the issue.

[2021-04-26 13:05] gustawdaniel commented on #85
You probably installed to new chart.js

![Screenshot from 2021-04-26 15-07-14](https://user-images.githubusercontent.com/16663028/116087146-dc8ae380-a6a0-11eb-9e1f-b011a4288f4d.png)

this package seems to be unmaintained

[2021-04-26 14:38] HeCorr commented on #85
yes, it is.

using `chartjs-node-canvas` instead.

https://www.npmjs.com/package/chartjs-node-canvas

[2021-07-30 11:27] zakariakhorf commented on #63
hi @LudmilaShilo , can you please tell me how you solved the problem if you did ?

[2021-08-02 12:12] AdiechaHK opened #86 "Live demo link is not working"
Hello,

The live demo link which is given in the `readme` is not working right now.
Just for your information
here is the non-working link -> http://chartjs-demo.vmpower.io/

[2021-11-05 09:11] JTBrinkmann commented on #45
for the record, the regular `canvas` package now also comes prebuilt, so there's no use in switching

[2021-11-05 10:02] #45 closed

[2021-11-05 10:02] piercus commented on #45
@JTBrinkmann thanks for the update, i'm closing the issue then

[2022-01-23 17:40] sabman opened #87 "s"

[2022-01-23 17:40] #87 closed, assigned to nobody